In [1]:
# Take input of the first number and store it in a variable:
num1 = input('Enter the first number: ')

# Take input of the second number and store it in a variable:
num2 = input('Enter the second number: ')

# You will need to typecast the input strings into integers
# Calculate the product:
multiply = int(num1) * int(num2)

# Print the result:
print("Product:", multiply)

Enter the first number:  3
Enter the second number:  4

Product: 12

In [11]:
lst = [2,4,6,8]
product = 1
index = 0
while index < len(lst):
    product *= lst[index]
    index = index + 1
print(product)

384

In [18]:
n = (input('Enter any integer'))
n

Enter any integer sagar

'sagar'

In [23]:
grade = int(input('Enter marks '))
if grade > 65:
    print(" student is passing")
else:
    print(" studnet is not passing")

Enter marks  44

 studnet is not passing

In [25]:
a=[1,2,3,4,5]
b=[7,8]
for i in a:
    b.append(i)
print(b)

[7, 8, 1, 2, 3, 4, 5]

In [3]:
a = int(input('enter the first number: '))
b = int(input('enter the second number: '))
def sum_of_numbers(a,b):
    return a ** 2
sum_of_numbers(a,b)

enter the first number:  50
enter the second number:  00

2500

In [42]:
def sum (x,y):
    sum = 0
    for i in range(x,y+1):
        sum= sum + i
    print("sum of integer from {} to {} is ".format(x,y,sum))
sum(1,25)
sum(50,75)
sum(90,100)
sum(10,45)

sum of integer from 1 to 25 is
sum of integer from 50 to 75 is
sum of integer from 90 to 100 is
sum of integer from 10 to 45 is

In [44]:
f = lambda x:x**2
f(10)

100

In [50]:
a = [1,2,3,4,5]
squares = list(map(lambda x: x ** 2, a))
print(squares)

[1, 4, 9, 16, 25]

In [53]:
a = [1, 2, 3, 4, 5,6 , 7, 8, 199]
squares = list(filter(lambda x: (x % 2==0), a))
print(squares)

[2, 4, 6, 8]

In [70]:
def myMapFunc(s):
    return s.upper()
my_str = "welcome to SkilloVilla!"
updated_list = map(myMapFunc, my_str)
for i in updated_list:
    print(i, end='')

WELCOME TO SKILLOVILLA!

In [60]:
from functools import reduce

In [67]:
a = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x*y, a)
print(product)

120

In [72]:
my_list = [2,3,4,5,6,7,8,9]
def my_function(n):
    return n*int(input("muliply_number"))
updated_list = map(my_function, my_list)
print(list(updated_list))

muliply_number 10
muliply_number 5
muliply_number 6
muliply_number 10
muliply_number 10
muliply_number 10
muliply_number 10
muliply_number 10

[20, 15, 24, 50, 60, 70, 80, 90]

In [79]:
def myMapFunc(list1, tuple1):
    return list1+tuple1

my_list = ['a','b', 'b', 'd', 'e']
my_tuple = ('PHP','Java','Python','C++','C')

updated_list = map(myMapFunc, my_list,my_tuple)
print(list(updated_list))

['aPHP', 'bJava', 'bPython', 'dC++', 'eC']

In [82]:
C = 12222
X = 12222.0
Y = "12222"
print(C!=X)
print(X!=Y)
print(C!=Y)

False
True
True

In [ ]:

def get_value():
    x = int(input("Enter the first value : "))
    y = int(input("Enter the second value : "))
    return (x, y)

def add():
    x,y = get_value()
    print(x+y)

def subtract():
    x,y = get_value()
    print(x-y)

def multiply():
    x,y = get_value()
    print(x*y)

def divide():
    x,y = get_value()
    print(x/y)


def menu():
    op = int(input("Menu :  \n 1.Add \n 2.Subtract \n 3.Multiply \n 4.Divide \n 0.Exit \nEnter an option : "))

    if op == 1:
        add()
        menu()
    elif op == 2:
        subtract()
        menu()
    elif op == 3:
        multiply()
        menu()
    elif op == 4:
        divide()
        menu()
    elif op == 0:
        exit()
    else:
        print ("Invalid option")
menu()

Menu :
 1.Add
 2.Subtract
 3.Multiply
 4.Divide
 0.Exit
Enter an option :  1
Enter the first value :  1
Enter the second value :  1

2

In [1]:
x = lambda a : a + 10
print(x(5))

15

In [20]:
def BinarySearch(lys, val):
    first = 0
    last = len(lys)-1
    index = -1
    while (first <= last) and (index == -1):
        mid = (first+last)//2
        if lys[mid] == val:
            index = mid
        else:
            if val<lys[mid]:
                last = mid -1
            else:
                first = mid +1
    return index

In [22]:
my_list= [1,2,3,4,13,12,7,8,9,10]
print(BinarySearch(my_list,13))

4

In [25]:
str1 = "Skillo Villa"
print(str1.split(" "))
type(str1.split(" "))

['Skillo', 'Villa']

list

In [28]:
str1 = "Skillo Villa"
str2 = ""
for i in str1:
  str2 = str2 + i

In [29]:
print(str2)

Skillo Villa

In [1]:
river = ['Ganga','Yamuna','Godavari','Brahmaputra','Kaveri']

In [5]:
newlist1 = []
newlist2 = []

for x in river:
    if 'g' in x:
        newlist1.append(x)
    else:
        newlist2.append(x)
print(newlist1,newlist2)

['Ganga'] ['Yamuna', 'Godavari', 'Brahmaputra', 'Kaveri']

In [9]:
newlist = [x for x in river if 'g' in x]
print(newlist)

['Ganga']

In [12]:
newlist = [x for x in range (10,20)]
print(newlist)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [19]:
nl = int(input("Enter the size of the list "))

n_list = list(int(num) for num in input("Enter the list items separated by space ").strip().split())[:nl]

print("User list: ", n_list)

Enter the size of the list  5
Enter the list items separated by space  45332523

User list:  [45332523]

In [25]:
def sum(a):
    c = a+5
    return c

#Let us pass this user defined function to list in Python and analyze the result further.

a = [1,2,3,4,5,6]

for x in a:
    print(sum(x), end=' ')

6 7 8 9 10 11

In [38]:
a = [64,89,43,1,9,76]

def num_check(a):
    if(a>50):
        print("Greater than 50")
    else:
        print("Lesser")

for i in a:
    num_check(i)

Greater than 50
Greater than 50
Lesser
Lesser
Lesser
Greater than 50

In [77]:
e = int(input("enter 1st number: "))
y = int(input("enter 2nd number: "))

def avg(m,n):
    return (m+n)/2
avg(e,y)

enter 1st number:  5
enter 2nd number:  10

7.5

In [54]:
def test(integer, var=True, dict1={2:4, 3:5, 4:8}):
    if var== True:
        if integer in dict1.keys():
            return dict1[integer]
        else:
            return True
    if var==False:
        return var
    else:
        return False
print(test("sagar"))

True

In [48]:
print(test(5))

None

In [55]:
def checkingIfIn(a, direction = True, d = {'mars': 2, 'jupiter': 1, 'saturn': 19, 'earth': 5, 'sun': 3, 'moon': 2, 'venus': 7}):
    if direction == True:
        if a in d:
            return d[a]
        else:
            return False

In [67]:
print(checkingIfIn('sagar'))

False

In [74]:
def concatenate_num_nd_string(local_number, local_string):
    local_variable = str(local_string)+" "+str(local_number)
    return local_variable

In [69]:
concatenate_num_nd_string('Motivation',"Self")

'Self Motivation'

In [76]:
concatenate_num_nd_string(6
                          ,8)

'8 6'

In [80]:
def sort_list(input_sort):
    for k in range(0,len(input_sort)):
        for a in range(0,len(input_sort)-1):
            if input_sort[k]>input_sort[a]:
                continue
            else:
                b=input_sort[k]
                input_sort[k]=input_sort[a]
                input_sort[a]=b
    return input_sort

input_sort = (2,3,4,5,2,54,2,4,5,2,4,4,234,5)
input_sort = list(map(int,input_sort))
print(sort_list(input_sort))

[2, 2, 2, 2, 3, 4, 4, 4, 4, 5, 5, 5, 54, 234]

In [98]:
def quicksort(lst):
    if not lst:
        return []
    return (quicksort([x for x in lst[1:] if x<lst[0]]) + [lst[0]] + quicksort([x for x in lst[1:] if x>=lst[0]]))

In [99]:
quicksort([23,34,554,34,5,3,54,3,24,5,3,24,4,34,5])

[3, 3, 3, 4, 5, 5, 5, 23, 24, 24, 34, 34, 34, 54, 554]

In [85]:
def quicksort(lst):
    if not lst:
        return []
    return (quicksort([x for x in lst[1:] if x <  lst[0]])
            + [lst[0]] +
            quicksort([x for x in lst[1:] if x >= lst[0]]))

In [86]:
quicksort([23,34,554,34,5,3,54,3,24,5,3,24,4,34,5])

[3, 3, 3, 4, 5, 5, 5, 23, 24, 24, 34, 34, 34, 54, 554]

In [101]:
print(quicksort)

<function quicksort at 0x00000263951F8E00>

In [102]:
a=input("Enter your String: ")
print("The string entered by user is",a)

Enter your String:  sagar

The string entered by user is sagar

In [106]:
print("Enter no. of elements")
a=int(input())

print("Enter",a,"integer elements") # enter elements one by one
array=[]
for i in range(a):
   array.append(int(input()))
print("Array entered by user is",array)

Enter no. of elements

 3

Enter 3 integer elements

 1
 2
 3

Array entered by user is [1, 2, 3]

In [126]:
matrix =[]
for i in range (2):
    row=[]
    for j in range (4):
        element=int(input())
        row.append(element)
    matrix.append(row)

print(matrix)

 1
 2
 3
 4
 3
 2
 3
 3

[[1, 2, 3, 4], [3, 2, 3, 3]]

In [137]:
names = ["subha", "vidya", "rohan", "rio"]
enumNames = enumerate(names, 10)

In [134]:
print(list(enumNames))

[(10, 'subha'), (11, 'vidya'), (12, 'rohan'), (13, 'rio')]

In [138]:
for item in enumNames:
    print(item)

(10, 'subha')
(11, 'vidya')
(12, 'rohan')
(13, 'rio')

In [144]:
(lambda x,y: x+y) (9,3)

12

In [148]:
round((lambda m, n: (m + n)/2)(67.54, 769.1),1)

418.3

In [164]:
x = (lambda y : 'even' if (y%2==0) else 'odd')

In [166]:
print(x(6))

even

In [168]:
n1 = [4 , 9 , 3]
n2 = [15, 20, 50]
print(n1)
print(n2)
 
print(n1+n2)

[4, 9, 3]
[15, 20, 50]
[4, 9, 3, 15, 20, 50]

In [171]:
number = [10, 9, 8, 7 ,6 , 5, 4, 3, 2, 1]
print(number)
 
double_num = list(map(lambda x : x * 3, number))
print(double_num)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

In [172]:
for i in double_num:
    print(i)

30
27
24
21
18
15
12
9
6
3

In [177]:
def st(s):
    return s[0]=='a'          # function to check last character match

f = ['as','an','in','it','the','so','no','yes']
filter_object = filter(st, f)

print(list(filter_object))

['as', 'an']

In [8]:
numbers = [1,2,3,4,5,6,7]
print(numbers.pop(3))
print(numbers)

4
[1, 2, 3, 5, 6, 7]

In [11]:
even_nu = []
for even_nu in range(0,64,2):
    print(even_nu, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62

In [3]:
even_nu = []
for i in range(1,64):
    while i %2 ==0:
        even_nu.append(i)
        break
print(even_nu)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62]

In [5]:
def fun():
    print("sagar")

In [6]:
fun()

sagar

In [10]:
def function(a):
    return a*a

number = map(function, (1,2,3,4,5))

print(set(number))

{1, 4, 9, 16, 25}

In [16]:
def mymap(s):
    return s.title()
dialougue = "heartly welcome to my college"
quotes = map(mymap, dialougue)

for i in quotes:
    print(i, end= "")

HEARTLY WELCOME TO MY COLLEGE

In [27]:
numbers = ["sagar", "abhi", "raghu", "chetan", "manu", "nikhil"]

In [32]:
newlist1 = []
newlist2 = []

for x in numbers:
    if "g" in x:
        newlist1.append(x)
    else:
        newlist2.append(x)
print(newlist1, newlist2)

['sagar', 'raghu'] ['abhi', 'chetan', 'manu', 'nikhil']

In [36]:
newlist = [x for x in numbers if "g" in x]

newlist

['sagar', 'raghu']

In [38]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
newlist = [x for x in range(10,20) if x%2==0]
newlist

[10, 12, 14, 16, 18]

In [3]:
number = lambda y : y > 50 and y < 200
print(number(90))
print(number(30))
print(number(201))

True
False
False

In [6]:
number = lambda y: y >10
print(number(100))
print(number(6))

True
False

In [8]:
adding = lambda x,y:x+y
adding(5.2,5)

10.2

In [12]:
number = lambda a : "Even" if a%2==0 else "Old"
print(number(19))
print(number(20))

Old
Even

In [19]:
number = [10, 9, 8, 7 ,6 , 5, 4, 3, 2, 1]
print(number)

double_num = list(map(lambda x : x * 3, number))
print(double_num)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

In [20]:
def st(s):
    return s[-1] == 'o'             # function to check last character match

f = ['as','an','in','it','the','so','no','yes']
filter_object = filter(st, f)

print(list(filter_object))

['so', 'no']

In [23]:
st = lambda a: a[0] == "a"           # function to check last character match

f = ['as','an','in','it','the','so','no','yes']
filter_object = filter(st, f)

print(list(filter_object))

['as', 'an']

In [24]:
f = ['as','an','in','it','the','so','no','yes']
filter_object = filter(lambda a: a[0] == "a", f)

print(list(filter_object))

['as', 'an']

In [27]:
def sum(a):
    c = a+5
    return c

#Let us pass this user defined function to list in Python and analyze the result further.

a = [1,2,3,4,5,6]

for x in a:
    print(sum(x),end=" ")

6 7 8 9 10 11

In [37]:
number = [54,67,35,72,82,91,33,22,11,88,77,46]
def even_nu(x):
    if x%2==0:
        print("Even")
    else:
        print("Odd")
for i in number:
    even_nu(i)

Even
Odd
Odd
Even
Even
Odd
Odd
Even
Odd
Even
Odd
Even

In [38]:
def concatenate_num_nd_string(local_number, local_string):
    local_variable = local_string+" "+str(local_number)
    return local_variable

In [41]:
concatenate_num_nd_string('sagar','karjagi')

'karjagi sagar'